/*GENERAL SELECTORS*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.condenser
{
    margin: 0px 200px 0px 200px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.gap
{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

h2
{
    font-size: 50px;
    color: #333;
    text-decoration: underline;
    text-align: center;
}

p
{
    font-size: 25px;
    color: #333;
    text-align: center;
}

body
{
    background-color: #f7f9f9;
}

.condenser h2
{
    margin: 20px;
}
/*GENERAL SELECTORS*/

/*BUTTONS*/
button
{
    color: #f7f9f9;
    background-color: #333;
    font-size: 20px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px black;
    border: none;
}
/*BUTTONS*/

/*HEADER/NAVBAR*/
.condenser-header
{
    margin: 0px 200px 0px 200px;
}

header
{
    background-color: #d1b000;
    padding: 20px;
    position: sticky;
    top: 0%;
    bottom: 0%;
}

header h2
{
    font-size: 30px;
    color: #333;
    font-family: "Source Code Pro", monospace;
}

.head-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.navlist
{
    display: flex;
    
}

.navlist a
{
    text-decoration: none;
}

.navlist li
{
    list-style: none;
    text-decoration: none;
    color: #333;
    margin: 0px 40px 0px 40px;
    font-weight: bold;
    font-size: 20px;
}

.navlist a 
{
    position: relative;
    color: #333;
    text-decoration: none;
  }
  
  .navlist a:hover 
  {
    color: #333;
  }
  
  .navlist a::before 
  {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .navlist a:hover::before 
  {
    transform: scaleX(1);
  }
/*HEADER/NAVBAR*/

/*HERO SECTION*/
video
{
    width: 100%;
    height: auto;
    position: relative;
}

.vid-text
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0%;
    top: 10%;
}

.vid-text h1
{
    color: #f7f9f9;
    font-size: 100px;
    margin: 0px 40px 0px 100px;
}

.vid-text h2
{
    color: #f7f9f9;
    margin: 0px 100px 0px 40px;
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    /*position: relative;
    top: 3%;
    */
}

.vid-text-minor
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-vid
{
    font-size: 30px;
    padding: 20px;
    position: relative;
    right: 4%;
}
/*HERO SECTION*/

/*WHO WE ARE*/

/*WHO WE ARE*/

/*FOOTER*/
footer
{
    background-color: #333;
    display: flex;
    height: 300px;
}

footer h2
{
    font-size: 30px;
    color: #f7f9f9;
    font-family: "Source Code Pro", monospace;
    text-align: left;
}

footer h3
{
    font-size: 15px;
    color: #f7f9f9;
    font-family: "Source Code Pro", monospace;
    font-style: italic;
    text-decoration: underline;
}

.c-formatter
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    gap: 200px;
    align-items: flex-start;
}

.footerrside
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.footerrside li
{
    margin: 10px;
    font-size: 15px;
    color: #f7f9f9;
    list-style: none;
}

.navlistf a
{
    color: #f7f9f9;
    list-style: none;
}

/*FOOTER*/